body {
  padding-top: 2rem;
}
.starter-template {
  padding: 2rem 1rem;
  text-align: center;
}

.container-fluid h1 {
  padding-top: 1em;
}

p, ul {
  font-size: 16px;
}

img#profile {
  margin-bottom: 15px;
  height: 150px;
}

article {
  margin-bottom: 10em;
}
