$grey-light: #eee;
$grey-medium: #999;
$grey-dark: #495057;

$blue-light: #597499;
$blue-dark: #0E2647;


body {
  padding-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  background-color: $grey-light;
}

#blog {
  max-width: 768px;
//  max-width: 920px;
}

img {
  text-align: center;
}

.intro {
  text-align: center;
}

a {
  color: $blue-light;
  &:hover {
    color: $blue-dark;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'raleway', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
}

h2 {
  font-size: 1.3rem;
}

h3 {
  font-size: 1.1rem;
}

img#profile {
  margin-bottom: 1.5rem;
  height: 8rem;
  border-radius: 5%;
}

article {
  margin-bottom: 10em;
}

/* Fontawesome icons */
span.fas,  span.fab {
  color: $grey-dark;
}

.blog-header-logo {
  font-size: 1.5rem;
}

.text-center {
  text-align: center;
}

.blog-post {
  time {
    display: inline-block;
  }
}

.blog-post-title {
  margin-bottom: .25rem;
}

.blog-post-title > a {
  color: inherit;
}

.blog-post-title > a:hover {
  text-decoration: underline;
}

.blog-post-meta {
  margin-bottom: 1rem;
  color: $grey-medium;
}

.blog-pagination {
  margin-bottom: 3rem;
}

footer {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  text-align: center;
  border-top: .05rem solid $grey-medium;
}

#profile {
  -webkit-filter: grayscale(90%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
