body {
  padding-top: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1.5;
  color: #343a40;
}

.container {
}

.starter-template {
  text-align: center;
}

a.to-blog{
  color: inherit;
}

.container-fluid {
  /* padding: 0 0.5rem; */
  /* margin: 0 0.5rem; */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'raleway', sans-serif;
  /* font-size: 2rem; */
  /* margin-bottom: 0; */
}

p.lead {
  /* font-size: 1rem; */
}


img#profile {
  margin-bottom: 1.5rem;
  height: 8rem;
  border-radius: 5%;
}

article {
  margin-bottom: 10em;

}

span.fas,  span.fab {
  color: #495057;
}

.blog-header-logo {
  font-size: 1.0rem;
}

.blog-post-title {
  margin-top: 0;
  margin-bottom: .25rem;
  font-size: 2.0rem;
}

.blog-post-title > a {
  color: inherit;
}

.blog-post-title > a:hover {
  text-decoration: underline;
}

.blog-post-meta {
  margin-bottom: 1rem;
  color: #999;
}

.blog-pagination {
  margin-bottom: 3rem;
}

.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
