---
title: Computer Security 101
---
<div class="starter-template">
  <h1>
    <%= current_page.data.title %>
  </h1>
  <p>
    The basics that should keep you mostly safe online.
    <ul>
      <li>Remove Adobe Flash (unless you *really* need it)</li>
      <li>Remove Java (unless you *really* need it)</li>
      <li>Set plugins as 'click-to-play' in your browser</li>
      <li>Use different passwords for every website</li>
      <li>Use a password manager (so you can realistically do ^^)</li>
      <li>Use two-factor authentication (2FA) wherever available</li>
      <li>Use the following browser extensions: uBlock Origin, HTTPS Everywhere, Privacy Badger</li>
      <li>Use 'private mode' in your browser when appropriate (such as when visiting sports streaming sites)</li>
      <li>Keep your stuff up to date - programs and operating system</li>
      <li>Use common sense (if applicable)</li>
    </ul>
  </p>
</div>
