<meta charset="utf-8">
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@olafurg">
<meta name="twitter:creator" content="@olafurg">
<meta name="twitter:title" content="Ólafur Guðmundsson">
<meta name="twitter:description" content="Icelander in Serbia">
<meta name="twitter:image" content="http://olafurg.com/images/profile-olafurg.jpg">

<title><%= current_page.data.title || "Ólafur Guðmundsson" %></title>

<%= stylesheet_link_tag "normalize", "all" %>
<%= javascript_include_tag  "all" %>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
