meta name="twitter:card" content="summary"
meta name="twitter:site" content="#{data.site_info.tag}"
meta name="twitter:creator" content="#{data.site_info.tag}"
meta name="twitter:title" content="#{data.site_info.author}"
meta name="twitter:description" content="#{data.site_info.tagline}"
meta name="twitter:image" content="https://olafurg.com/images/profile-olafurg.jpg"
