<div class="starter-template">
  <h1><%= data.site_info.author %></h1>
  <p class="lead"> <%= data.site_info.tagline%></p>
  <%= image_tag "images/profile-olafurg.jpg",
    class: "rounded",
    id: "profile",
    alt: "My profile photo" %>
  <ul class="list-inline">
    <% data.social.each do |s| %>
      <li class="list-inline-item">
        <% link_to s.link do %>
          <span class="<%= "#{s.font_awesome}" %>"></span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
