.container
  .intro
    h1
      = data.site_info.author

    = image_tag gravatar_image("olafur.g@gmail.com", 200),
                  class: "rounded",
                  id: "profile",
                  alt: "Profile photo"

    p
      = data.site_info.tagline

    = partial "social_links"

    = link_to data.site_info.blog_title, "/words", { class: "small text-muted" }
