---
title: Ninite link
---
<div class="container-fluid">
  <h1>
    <%= current_page.data.title %>
  </h1>
  <p>
    <%= link_to "https://ninite.com/chrome-firefox-libreoffice-java8-pdfcreator-operaChromium-reader-gimp-.net4.5.2-sumatrapdf-putty-7zip-irfanview-winscp-notepadplusplus-winmerge-vlc-pidgin-googledrive-dropbox-spotify-skype-evernote-malwarebytes-greenshot/" %>
  </p>
</div>
