---
title: Ninite link
---
<div class="container-fluid">
  <h1>
    <%= current_page.data.title %>
  </h1>
  <p>
    <% link = "https://ninite.com/chrome-firefox-libreoffice-pdfcreator-reader-gimp-sumatrapdf-7zip-irfanview-notepadplusplus-vlc-googledrive-dropbox-spotify-skype-malwarebytes-greenshot/" %>

    <%= link_to link, link %>
  </p>
</div>
